@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;

  --theme-blue: #2E37FE;
  --theme-purple: #9196FF;
  --theme-green: #7FFF40;
  --theme-gray: #C1C1C1;
  --theme-footer-gray: #929292;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-theme-blue: var(--theme-blue);
  --color-theme-green: var(--theme-green);
  --color-theme-purple: var(--var-purple);
  --color-theme-gray: var(--theme-gray);
  --color-theme-footer-gray: var(--theme-footer-gray);
  
  --font-inter: var(--font-inter-variable);
  --font-istok-web: var(--font-istok-web-variable);
  --font-cormorant-upright: var(--font-cormorant-upright-variable);
  --font-cormorant-garamond: var(--font-cormorant-garamond-variable);
  --font-rancho: var(--font-rancho-variable);
  --font-poppins: var(--font-poppins-variable);
  --font-space-grotesk: var(--font-space-grotesk-variable);
  --font-hanken-grotesk: var(--font-hanken-grotesk-variable);
  --font-geist-mono: var(--font-geist-mono-variable);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk);
}

@keyframes drawUnderline {
  from {
    stroke-dashoffset: 200;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.animate-underline {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: drawUnderline 0.8s ease-out 0.5s forwards;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  70% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 0.4s ease-out 1.3s forwards;
}

@keyframes drawTestimonialUnderline {
  from {
    stroke-dashoffset: 200;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.animate-underline {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: drawTestimonialUnderline 0.8s ease-out 0.5s forwards;
}