@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;

  --theme-blue: #2E37FE;
  --theme-purple: #9196FF;
  --theme-green: #7FFF40;
  --theme-gray: #C1C1C1;
  --theme-footer-gray: #929292;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-theme-blue: var(--theme-blue);
  --color-theme-green: var(--theme-green);
  --color-theme-purple: var(--var-purple);
  --color-theme-gray: var(--theme-gray);
  --color-theme-footer-gray: var(--theme-footer-gray);
  
  --font-inter: var(--font-inter-variable);
  --font-istok-web: var(--font-istok-web-variable);
  --font-cormorant-upright: var(--font-cormorant-upright-variable);
  --font-cormorant-garamond: var(--font-cormorant-garamond-variable);
  --font-rancho: var(--font-rancho-variable);
  --font-poppins: var(--font-poppins-variable);
  --font-space-grotesk: var(--font-space-grotesk-variable);
  --font-hanken-grotesk: var(--font-hanken-grotesk-variable);
  --font-geist-mono: var(--font-geist-mono-variable);
  --font-ibm-plex-mono: var(--font-ibm-plex-mono-variable);
  --font-jetbrains-mono: var(--font-jetbrains-mono-variable);
  --font-satoshi: var(--font-satoshi-variable);
  --font-google-sans-code: var(--font-google-sans-code-variable);
}

body {
  background: var(--background);
  /* background-image: url("/bg/hero_bg.png"); */
  background-repeat: repeat;
  background-size: cover;

  color: var(--foreground);
  font-family: var(--font-space-grotesk);
}

@keyframes drawUnderline {
  from {
    stroke-dashoffset: 200;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.animate-underline {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: drawUnderline 0.8s ease-out 0.5s forwards;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  70% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 0.4s ease-out 1.3s forwards;
}

@keyframes drawTestimonialUnderline {
  from {
    stroke-dashoffset: 200;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.animate-underline {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: drawTestimonialUnderline 0.8s ease-out 0.5s forwards;
}


.w {
  animation: wave 4.8s ease-in-out infinite;
  opacity: 0.15;
}

.d1 { animation-delay: 0s; }
.d2 { animation-delay: 0.6s; }
.d3 { animation-delay: 1.2s; }
.d4 { animation-delay: 1.8s; }

@keyframes wave {
  0%   { opacity: 0.15; }
  8%   { opacity: 1; }
  55%  { opacity: 1; }
  70%  { opacity: 0.15; }
  100% { opacity: 0.15; }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 1000px #000 inset;
  caret-color: #fff;
  transition: background-color 9999s ease-in-out 0s;
}

html {
  scrollbar-width: none;
}

/* Chrome, Edge, Safari */
html::-webkit-scrollbar {
  display: none;
}